
    @keyframes home{
    from{
        font-size: smaller;
        text-overflow: 10px;
        color: rgb(232, 9, 20);
    
    }to{ font-size: 50px;
    color:rgb(173, 238, 7);
    
    }
    }
    body{
    
    background-color:white;
    }
.b{
    height: 60%;
    animation-iteration-count: 50;
display: grid;
background-color: black;

justify-items: center;
margin-top: 20%;
animation-duration: 5s;
font-weight: 800;
 animation-name: home;
    background-color:white;
    font-size: 40px;
    
animation-delay: 0s;
    }
    @keyframes hom{
    from{
        color: rgb(235, 22, 182);
    
    }to{
    color:rgb(10, 224, 10);
    
    }
    }
    .a{
    margin-left: 48%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    animation-name: hom;
    
    
    }
    a{
    text-decoration: none;
    }